.NavButton {
	cursor: pointer;
	background-color: transparent;
	padding: 1rem;
	outline: none;
	border: none;
	color: white;
	height: 100%;
	font-size: 1.2rem;
	font-weight: bold;
	transition: all ease-in 0.2s;
}

.NavButton:hover {
	color: #5cdb95;
}
