.Pathfinder {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.Pathfinder-body {
	width: 100%;
	height: 95%;
	background-color: rgb(36, 36, 36);
	display: flex;
	justify-content: center;
	align-items: center;
}

.Pathfinder-grid {
	width: 98%;
	height: 90%;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
