.DropdownMenu {
	width: auto;
	height: 100%;
	display: flex;
	align-items: center;
}

@media (max-width: 1400px) {
	.DropdownMenu {
		height: 12rem;
		flex-direction: column;
		justify-content: flex-start;
	}
}
