.StartButton {
	height: 80%;
	outline: none;
	background-color: transparent;
	border: 2px solid #1abc9c;
	justify-self: center;
	align-self: center;
	border-radius: 5%;
	font-size: 1.5rem;
	color: #fff;
	padding: 0 3rem;
	cursor: pointer;
	letter-spacing: 5px;
	transition: all ease-in 0.2s;
}

.StartButton:hover {
	border-color: #5cdb95;
	transform: scale(1.02);
	background-color: #5cdb9511;
}
