.StartButton {
	height: 80%;
	outline: none;
	justify-self: center;
	align-self: center;
	border-radius: 5%;
	font-size: 1.5rem;
	color: #fff;
	cursor: pointer;
	transition: all ease-in 0.2s;
	margin: 0 1rem;
}

.StartButton:hover {
	transform: scale(1.02);
}
.Dark {
	background-color: transparent;
	border: 2px solid #1abc9c;
	letter-spacing: 5px;
	padding: 0 3rem;
}
.Dark:hover {
	border-color: #5cdb95;
	background-color: #5cdb9511;
}

.Light {
	background-color: #18967d;
	font-weight: bold;
	border: none;
	padding: 0 2rem;
	cursor: pointer;
	letter-spacing: 1px;
}
.Light:hover {
	background-color: #34b66e;
	transform: scale(1.02);
}
