.HelpWindowLegend {
	margin: 1rem;
}

.HelpWindowLegend a {
	font-weight: bold;
	display: block;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	padding: 1rem 0rem 0rem 1rem;
	font-size: 1.2rem;
	transition: all ease-in 0.3s;
}

.HelpWindowLegend a:hover {
	color: #1364a5;
}

.HelpWindowLegend-node {
	display: flex;
	justify-content: flex-start;
}

@media (max-width: 720px) {
	.HelpWindowLegend {
		max-height: 80vh;
		overflow: scroll;
	}
}
